<!doctype html>

<!-- Здесь мы указываем, что этим документом со всеми вложениями управляет приложение под названием app-->
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>

    <!-- Подключили скрипт -->
    <script src="index.js"></script>
</head>

<body>

    <!-- Указываем, в параметре контроллер, наш контроллер который создали в index.js. Т.е. всё что входит в этот блок div
управляется контроллером -->

    <div class="container" ng-controller="indexController">
        <h5>Фильтры</h5>
        <form novalidate ng-submit="loadProducts()">
            <div class="form-floating input-group-sm">
                <input type="text" class="form-control" id="filterTittle" placeholder="" ng-model="filter.tittle_part">
                <label for="filterTittle">Название продукта</label>
            </div>
            <p></p>
            <div class="form-floating input-group-sm">
                <input type="text" class="form-control" id="filterMinCost" placeholder="" ng-model="filter.min_cost">
                <label for="filterMinCost">Мин. цена</label>
            </div>
            <p></p>
            <div class="form-floating input-group-sm">
                <input type="text" class="form-control" id="filterMaxCost" placeholder="" ng-model="filter.max_cost">
                <label for="filterMaxCost">Макс. цена</label>
            </div>
            <p></p>
            <button class="btn btn-outline-warning btn-sm" style="width: 100%;" type="submit">Применить</button>
        </form>
        <p></p>
        <h3>Список продуктов</h3>
        <table class="table table-hover" cellpadding="0" cellspacing="0">
            <tr>
                <td>ID</td>
                <td>Название</td>
                <td>Цена</td>
                <td>Действие</td>
            </tr>
            <!--<tbody>
                <tr ng-repeat="p in ProductsPage.content">
                    <td>{{p.id}}</td>
                    <td>{{p.tittle}}</td>
                    <td>{{p.cost}}</td>
                    <td>
                        <button class="btn btn-danger" ng-click="addToCart(p.id)">Добавить в корзину</button>
                    </td>
                </tr>
            </tbody>-->
            <tbody>
            <tr ng-repeat="p in ProductsPage.content">
                <td>{{p.id}}</td>
                <td>{{p.tittle}}</td>
                <td>{{p.cost}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="addToCart(p.id)">Добавить в корзину</button>
                </td>
            </tr>
            </tbody>
        </table>
        <p></p>
        <h3>Корзина</h3>
        <table class="table table-hover" cellpadding="0" cellspacing="0">
            <tr>
                <td>ID</td>
                <td>Название</td>
                <td>Цена</td>
                <td>Количество</td>
                <td>Действие</td>
            </tr>
            <tbody>
            <tr ng-repeat="product in CartList">
                <td>{{product.id}}</td>
                <td>{{product.tittle}}</td>
                <td>{{product.cost * product.count}}</td>
                <td>{{product.count}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="removeFromCart(product.id)">Удалить из корзины</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>

</html>