<div>
    <h5>Фильтры</h5>
    <form novalidate ng-submit="loadProducts()">
        <div class="form-floating input-group-sm">
            <input type="text" class="form-control" id="filterTittle" placeholder="" ng-model="filter.tittle_part">
            <label for="filterTittle">Название продукта</label>
        </div>
        <p></p>
        <div class="form-floating input-group-sm">
            <input type="text" class="form-control" id="filterMinCost" placeholder="" ng-model="filter.min_cost">
            <label for="filterMinCost">Мин. цена</label>
        </div>
        <p></p>
        <div class="form-floating input-group-sm">
            <input type="text" class="form-control" id="filterMaxCost" placeholder="" ng-model="filter.max_cost">
            <label for="filterMaxCost">Макс. цена</label>
        </div>
        <p></p>
        <button class="btn btn-outline-warning btn-sm" style="width: 100%;" type="submit">Применить</button>
    </form>
    <p></p>
    <h3>Список продуктов</h3>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>ID</td>
            <td>Название</td>
            <td>Цена</td>
            <td>Действие</td>
        </tr>
        <tbody>
            <tr ng-repeat="p in ProductsPage.content">
                <td>{{p.id}}</td>
                <td>{{p.tittle}}</td>
                <td>{{p.cost}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="addToCart(p.id)">Добавить в корзину</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>